@media (max-width: 1200px) {
  .section-event {
    .section-container {
      .section-content {
        margin: 50px 0;
        .event-tab {
          .event-tab__image {
            float: none;
            width: 100%;
            margin: 0;
          }
          .event-tab-center {
            float: left;
            width: 60%;
            margin: 20px 0 0 0;
            .event-tab-center__title {

            }
            .event-tab-center__location {

            }
            .event-tab-center__time {
              display: block;
              margin:  0;
            }
            .event-tab-center__p {

            }
          }
          .event-tab-right {
            text-align: center;
            width: 40%;
            margin: 20px 0 0 0;
            .fb-like {
              margin: 10px 0 0 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1180px) {
    .subhead-part-1__left {
      .subhead-part-1__left-title {
        font-size: 2em;
      }
    }

        .subhead-part-1__right {
      .subhead-part-1__right-title {
        font-size: 2em;
      }
    }
}

@media (max-width: 800px) {
  .footer {
    .footer-inner {
      .footer-links {
        .footer-site-map-list {
          float: none;
          .footer-site-map-list__item {
            color: #fff;
            font-size: 1em;
            &:first-child {
              margin: 0;
            }
          }
        }
        .footer-terms {
          float: none;
          font-size: 1em;
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
      .footer-logo {
        width: 150px;
        margin: 15px auto 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .section-header {
    .section-header-inner {
      .section-header__title {
        font-size: 2.5em;
      }
    }
  }

  .section-event-detail {
    .section-container {
      padding: 15px;
      .section-content {
        float: none;
        width: 100%;
        padding: 0;
        .content-event-img {
          width: 100%;
        }
        .subhead-description {
          padding: 0;
          .subhead-header {
            margin:  30px 0;
          }
        }
        .subhead-details {
          padding: 0;
          .subhead-header {
            margin:  30px 0;
          }
        }
        .subhead-place {
          padding: 0;
          .subhead-header {
            margin:  30px 0;
            font-size: 1.5em;
            font-weight: 700;
          }
          .subhead-p {
            margin: 15px 0;
            .subhead-p__address {
              margin: 0 0 0 40px;
            }
          }
        }
      }
      .section-sidebar {
        float: none;
        width: 100%;
        margin: 60px 0;
        .universal-button {
          margin: 5px 10px;
        }
      }
    }
  }

  .section-event {
    .section-container {
      .section-content {
        margin: 50px 0;
        .event-tab {
          .event-tab__image {
            float: none;
            width: 100%;
            margin: 0;
          }
          .event-tab-center {
            float: none;
            width: 100%;
            margin: 20px 0 0 0;
            .event-tab-center__title {
              text-align: center;
            }
            .event-tab-center__location {
              text-align: center;
            }
            .event-tab-center__time {

            }
            .event-tab-center__p {
              text-align: center;
            }
          }
          .event-tab-right {
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }

  .section-hp {
    .subhead-part-1 {
      .subhead-part-1__left {
        float: none;
        width: 100%;
        .subhead-part-1__p {
          text-align: center;
        }
        .subhead-part-1__left-title {
          text-align: center;
        }
      }
      .subhead-part-1__right {
        float: none;
        width: 100%;
        .subhead-part-1__p {
          text-align: center;
        }
        .subhead-part-1__right-title {
          text-align: center;
        }
      }
    }
    .subhead-part-2 {
      display: table;
      padding: 10px;
      .subhead-part-2__title {
        padding: 30px 0 0 0;
        font-weight: 700;
        font-size: 2em;
      }
      .subhead-part-2-tab {
        float: none;
        width: 100%;
        margin: 20px 0 0 0;
        padding: 20px;
        .subhead-part-2-tab__image {
          width: 100%;
        }
        .subhead-part-2-tab__p {
          margin: 15px 0 30px 0;
        }
      }
    }
    .subhead-part-3 {
      .subhead-part-3__image {
        margin: 15px;
      }
    }
  }

}

@media (max-width: 480px) {
  .footer {
    .footer-inner {
      .footer-links {
        .footer-site-map-list {
          float: none;
          .footer-site-map-list__item {
            display: block;
            color: #fff;
            font-size: 1em;
            margin: 10px 0;
            &:first-child {
              margin: 0;
            }
          }
        }
        .footer-terms {
          float: none;
          font-size: 1em;
        }
      }
      .footer-logo {
        width: 100px;
      }
    }
  }
}

@media (max-width: 320px) {

}