#userInfoForm{
  margin-top: 80px;
}
.event-tab-center__time{
  width: 100%;
  FLOAT: LEFT;
  margin-left: 0px!important;
  margin-top: 15px!important;
  font-weight: 100;
}
.event-tab-center__location{
  margin-top: 15px!important;
}
.event-tab-center_p{
  width: 100%;
  float: left;
  text-align: left;
  margin-top: 15px;
  @media (max-width: 768px) {
    text-align: center;
  }
}
.event-tab-right .universal-button{
  font-size: 17px!important;
  padding: 10px 15px;
}
.event-tab-right{
  position: relative;

}
.event-tab-right .btn-primary{
  position: absolute;
  left: 75px;
  margin: 0px;
  transform: translateX(-50%);
  margin-top: 5px;
  @media (max-width: 1200px){
    left: 86%;
    transform: translateX(-100%);
  }
  @media (max-width: 768px) {
    position: relative;
    left: 0px;
    transform: unset;
  }
}

.section-event .section-container .section-content .event-tab .event-tab__image{
  width: 200px;
  max-width: 100%;
  @media (max-width: 1200px){
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-event .section-container .section-content .event-tab .event-tab-center{
  width: 55%;
  @media (max-width: 992px) {
    width: 75%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}
.section-event .section-container .section-content .event-tab .event-tab-right{
  @media (max-width: 1200px){
    text-align: right;
  }
  @media (max-width: 992px) {
    width: 25%;
  }
  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
  }
}

.menu-categories-list__item{
  display: inline-block;
  padding: 15px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: #000;
  border-radius: 100px;
  cursor: pointer;
}
.menu-categories-list__item:hover{
  background: white;
}
.menu-categories-list__item.active{
background: white;
}
.menu-categories{
  background-color: #db1e1c;
}

.banner-text{
  font-size: 40px;
  @media (max-width: 2000px){
    font-size: 20px;
  }
  @media (max-width: 1200px){
    font-size: 15px;
  }
  @media (max-width: 1200px){
    font-size: 10px;
  }
  @media (max-width: 800px){
    font-size: 8px;
  }
}


.header-button{
  position: absolute;
  left: 0px;
  top: -95px;
  outline: none;
  @media (max-width: 1200px){
    position: relative;
    top: 0px;
  }
}

.banner-skyscraper-right-bott{
  display: inline-block;
  width: 12%;
  position: absolute;
  right: 0px;
}

.banner-skyscraper-left-bott{
  display: inline-block;
  width: 12%;
  position: absolute;
  margin-top: 30px;
  left: 0px;
}