.footer {
  position: relative;
  height: 250px;
  background-color: $blue-color;
  .footer-inner {
    position: relative;
    padding: 10px;
    height: 100%;
    .footer-links {
      .footer-site-map-list {
        margin: 20px 10px;
        float: left;
        .footer-site-map-list__item {
          display: inline-block;
          margin: 0 15px;
          color: #fff;
          font-size: 0.85em;
          &:first-child {
            margin: 0;
          }
        }
      }
      .footer-terms {
        float: right;
        margin: 20px 10px;
        color: $red-color;
        font-size: 0.85em;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
    .footer-logo {
      width: 150px;
      margin: 15px auto 0 auto;
    }
  }
}