.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.background-config {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: inherit;
}

.section-container {
  padding: 0 10px;
}

.content-width {
  position: relative;
  width: 76%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.section-header {
  padding: 0 0 30px 0;
  background-color: $blue-color;
  .section-header-inner {
    .section-header__title {
      font-size: 3em;
      font-weight: 700;
      color: #fff;
    }
    .section-header__p {
      margin: 20px auto;
      max-width: 800px;
      color: #fff;
    }
  }
}

.universal-button {
  width: 180px;
  padding: 15px 0;
  border-radius: 100px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
}

.universal-button--blue {
  background-color: $blue-color;
  &:hover {
    background-color: #004161;
  }
}

.universal-button--red {
  background-color: $red-color;
  &:hover {
    background-color: #EE1E1C;
  }
}