html,
body,
* {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  color: $blue-color;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  max-width: 100%;
  height: 100%;
  background-color: $body-color;
  overflow-x: hidden;
}

span {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

i {
  color: inherit;
}

p {
  line-height: normal;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}
button:-moz-focusring {
  outline: 1px dotted;
}


a:link, a:visited {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  transition: color .3s ease;
}

a:hover {
  color: inherit;
}

ul {
  list-style-type: none;
}