.menu {
  position: relative;
  height: 160px;
  background-color: $blue-color;
  .menu-inner {
    position: relative;
    padding: 10px;
    display: table;
    height: 100%;
    .menu-logo {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      left: 10px;
      width: 200px;
      margin: -5px 0 0 0;
      @media (max-width: 1200px){
        width: 150px;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
      @media (max-width: 992px){
      top:30%;

      }
      @media (max-width: 768px) {
        top: 50px;
        left: 15px;
        transform: translateY(-50%);
      }
    }
    .menu-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      @media (max-width: 1200px) {
        left: 50%;
        top:80%;
        transform: translateY(-50%) translateX(-50%);
        right: 0px;
        width: 100%;
      }
      @media (max-width: 992px){
        top:73%;
      }
      @media (max-width: 768px){
        background: #023d6b;
        z-index: 9;
      }
      .menu-list {
        .menu-list__item {
          display: inline-block;
          margin: 0 15px;
          color: #fff;
          font-size: 1.2em;
          @media (max-width: 768px){
            display: block;
          }
        }
        .menu-list__search-bar {
          margin: -5px 15px 0 15px;
          overflow: hidden;
          width: 250px;
          vertical-align: middle;
          white-space: nowrap;
          display: inline-block;
          @media (max-width: 915px){
            margin-top: 10px;

          }
          .input-search {
            width: 100%;
            height: 40px;
            background: #fff;
            border: none;
            float: left;
            color: #ccc;
            font-weight: 700;
            font-size: 1.2em;
            padding-left: 15px;
            border-radius: 20px;
          }
          .input-search__button {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border: none;
            background: $red-color;
            height: 40px;
            width: 50px;
            color: #4f5b66;
            outline: none;
            opacity: 1;
            cursor: pointer;
            margin-left: -50px;
            i {
              color: #fff;
              font-size: 1.2em;
            }
          }
        }
        .menu-list__social-buttons {
          display: inline-block;
          .social-button {
            font-size: 1.5em;
            margin: 0 5px;
            color: #fff;
          }
        }
      }
    }
  }
  .navbar-header{
    display: none;
    @media (max-width: 768px){
      display: block;
      position: absolute;
      right: 0px;
      z-index: 9999;
      top: 30px;
    }
  }
  .navbar-toggle{
    background-color: #00335a;
    border: 2px solid $red-color;
  }
  .navbar-toggle:before{
    content: "";
    position: absolute;
    background: $red-color;
    top: 5px;
    height: 2px;
    width: 80%;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
  }
  .active-menu.navbar-toggle:before{
    top: 8px;
    transform: rotate(45deg);
    transition: 0.2s;
  }
  .navbar-toggle:after{
    transition: 0.2s;
    content: "";
    position: absolute;
    background: $red-color;
    bottom: 6px;
    height: 2px;
    width: 80%;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .active-menu.navbar-toggle:after{
    transition: 0.2s;
    bottom: 8px;
    transform: rotate(-45deg);
  }
  .navbar-collapse{
    border-top: 0px;
    box-shadow: unset;
  }
  .collapse.in{
    padding: 15px;
  }
}

.social-button{
  font-size: 1.5em;
  margin: 0 5px;
  color: #fff;
}
.footer-social{
  margin-top: 20px;
}
.name{
  position: absolute;
  color: white;
  font-size: 14px;
  @media (max-width: 768px) {
  position: relative;
  }
}