/* GLOBAL VARIABLES */
/* GLOBAL STYLING */
html,
body,
* {
  font-size: 1em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #002e4f;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

span {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

i {
  color: inherit;
}

p {
  line-height: normal;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

button:-moz-focusring {
  outline: 1px dotted;
}

a:link, a:visited {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: inherit;
}

ul {
  list-style-type: none;
}

/* GLOBAL CLASSES */
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.background-config {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: inherit;
}

.section-container {
  padding: 0 10px;
}

.content-width {
  position: relative;
  width: 76%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.section-header {
  padding: 0 0 30px 0;
  background-color: #002e4f;
}
.section-header .section-header-inner .section-header__title {
  font-size: 3em;
  font-weight: 700;
  color: #fff;
}
.section-header .section-header-inner .section-header__p {
  margin: 20px auto;
  max-width: 800px;
  color: #fff;
}

.universal-button {
  width: 180px;
  padding: 15px 0;
  border-radius: 100px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
}

.universal-button--blue {
  background-color: #002e4f;
}
.universal-button--blue:hover {
  background-color: #004161;
}

.universal-button--red {
  background-color: #db1e1c;
}
.universal-button--red:hover {
  background-color: #EE1E1C;
}

/* MENU */
.menu {
  position: relative;
  height: 160px;
  background-color: #002e4f;
}
.menu .menu-inner {
  position: relative;
  padding: 10px;
  display: table;
  height: 100%;
}
.menu .menu-inner .menu-logo {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 10px;
  width: 200px;
  margin: -5px 0 0 0;
}
@media (max-width: 1200px) {
  .menu .menu-inner .menu-logo {
    width: 150px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
@media (max-width: 992px) {
  .menu .menu-inner .menu-logo {
    top: 30%;
  }
}
@media (max-width: 768px) {
  .menu .menu-inner .menu-logo {
    top: 50px;
    left: 15px;
    transform: translateY(-50%);
  }
}
.menu .menu-inner .menu-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
@media (max-width: 1200px) {
  .menu .menu-inner .menu-nav {
    left: 50%;
    top: 80%;
    transform: translateY(-50%) translateX(-50%);
    right: 0px;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .menu .menu-inner .menu-nav {
    top: 73%;
  }
}
@media (max-width: 768px) {
  .menu .menu-inner .menu-nav {
    background: #023d6b;
    z-index: 9;
  }
}
.menu .menu-inner .menu-nav .menu-list .menu-list__item {
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  font-size: 1.2em;
}
@media (max-width: 768px) {
  .menu .menu-inner .menu-nav .menu-list .menu-list__item {
    display: block;
  }
}
.menu .menu-inner .menu-nav .menu-list .menu-list__search-bar {
  margin: -5px 15px 0 15px;
  overflow: hidden;
  width: 250px;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
}
@media (max-width: 915px) {
  .menu .menu-inner .menu-nav .menu-list .menu-list__search-bar {
    margin-top: 10px;
  }
}
.menu .menu-inner .menu-nav .menu-list .menu-list__search-bar .input-search {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  float: left;
  color: #ccc;
  font-weight: 700;
  font-size: 1.2em;
  padding-left: 15px;
  border-radius: 20px;
}
.menu .menu-inner .menu-nav .menu-list .menu-list__search-bar .input-search__button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background: #db1e1c;
  height: 40px;
  width: 50px;
  color: #4f5b66;
  outline: none;
  opacity: 1;
  cursor: pointer;
  margin-left: -50px;
}
.menu .menu-inner .menu-nav .menu-list .menu-list__search-bar .input-search__button i {
  color: #fff;
  font-size: 1.2em;
}
.menu .menu-inner .menu-nav .menu-list .menu-list__social-buttons {
  display: inline-block;
}
.menu .menu-inner .menu-nav .menu-list .menu-list__social-buttons .social-button {
  font-size: 1.5em;
  margin: 0 5px;
  color: #fff;
}
.menu .navbar-header {
  display: none;
}
@media (max-width: 768px) {
  .menu .navbar-header {
    display: block;
    position: absolute;
    right: 0px;
    z-index: 9999;
    top: 30px;
  }
}
.menu .navbar-toggle {
  background-color: #00335a;
  border: 2px solid #db1e1c;
}
.menu .navbar-toggle:before {
  content: "";
  position: absolute;
  background: #db1e1c;
  top: 5px;
  height: 2px;
  width: 80%;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
}
.menu .active-menu.navbar-toggle:before {
  top: 8px;
  transform: rotate(45deg);
  transition: 0.2s;
}
.menu .navbar-toggle:after {
  transition: 0.2s;
  content: "";
  position: absolute;
  background: #db1e1c;
  bottom: 6px;
  height: 2px;
  width: 80%;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
}
.menu .active-menu.navbar-toggle:after {
  transition: 0.2s;
  bottom: 8px;
  transform: rotate(-45deg);
}
.menu .navbar-collapse {
  border-top: 0px;
  box-shadow: unset;
}
.menu .collapse.in {
  padding: 15px;
}

.social-button {
  font-size: 1.5em;
  margin: 0 5px;
  color: #fff;
}

.footer-social {
  margin-top: 20px;
}

.name {
  position: absolute;
  color: white;
  font-size: 14px;
}
@media (max-width: 768px) {
  .name {
    position: relative;
  }
}

/* PAGES */
.section-event-detail {
  position: relative;
}
.section-event-detail .section-container {
  display: table;
  padding: 15px;
}
.section-event-detail .section-container .section-content {
  float: left;
  width: 70%;
  padding: 0 15px 0 0;
}
.section-event-detail .section-container .section-content .content-event-img {
  width: 100%;
}
.section-event-detail .section-container .section-content .fb-like {
  margin: 5px 0 0 0;
  float: right;
}
.section-event-detail .section-container .section-content .subhead-description {
  text-align: left;
  padding: 15px;
}
.section-event-detail .section-container .section-content .subhead-description .subhead-header {
  margin: 30px 0;
  font-size: 1.5em;
  font-weight: 700;
}
.section-event-detail .section-container .section-content .subhead-description .subhead-p {
  margin: 15px 0;
}
.section-event-detail .section-container .section-content .subhead-details {
  text-align: left;
  padding: 15px;
}
.section-event-detail .section-container .section-content .subhead-details .subhead-header {
  margin: 30px 0;
  font-size: 1.5em;
  font-weight: 700;
}
.section-event-detail .section-container .section-content .subhead-details .subhead-p {
  margin: 15px 0;
}
.section-event-detail .section-container .section-content .subhead-details .subhead-p .subhead-p__date, .section-event-detail .section-container .section-content .subhead-details .subhead-p .subhead-p__price {
  margin: 0 0 0 40px;
}
.section-event-detail .section-container .section-content .subhead-place {
  text-align: left;
  padding: 15px;
}
.section-event-detail .section-container .section-content .subhead-place .subhead-header {
  margin: 30px 0;
  font-size: 1.5em;
  font-weight: 700;
}
.section-event-detail .section-container .section-content .subhead-place .subhead-p {
  margin: 15px 0;
}
.section-event-detail .section-container .section-content .subhead-place .subhead-p .subhead-p__address {
  margin: 0 0 0 40px;
}
.section-event-detail .section-container .section-content .subhead-place .subhead-map {
  width: 100%;
  max-width: 700px;
}
.section-event-detail .section-container .section-sidebar {
  float: left;
  width: 30%;
}
.section-event-detail .section-container .section-sidebar .event-header {
  font-size: 2em;
  margin: 10px;
  color: #002e4f;
  font-weight: 700;
}
.section-event-detail .section-container .section-sidebar .event-location {
  margin: 30px 0 0 0;
  color: #002e4f;
  font-weight: 700;
}
.section-event-detail .section-container .section-sidebar .event-location i {
  margin: 0 5px 0 0;
}
.section-event-detail .section-container .section-sidebar .event-time {
  margin: 10px 0 0 0;
  color: #002e4f;
  font-weight: 700;
}
.section-event-detail .section-container .section-sidebar .event-time i {
  margin: 0 5px;
}
.section-event-detail .section-container .section-sidebar .event-price {
  margin: 10px 0 30px 0;
  color: #db1e1c;
  font-size: 1.5em;
  font-weight: 700;
}
.section-event-detail .section-container .section-sidebar .event-price i {
  margin: 0 5px 0 0;
}
.section-event-detail .section-container .section-sidebar .universal-button {
  margin: 5px 0;
}
.section-event-detail .section-container .section-sidebar .universal-button i {
  margin: 0 0 0 10px;
}
.section-event-detail .section-container .section-sidebar .side-bar-social-list {
  margin: 15px 0 0 0;
}
.section-event-detail .section-container .section-sidebar .side-bar-social-list .side-bar-social-list__item {
  margin: 0 3px;
  display: inline-block;
  color: #db1e1c;
  font-size: 1.5em;
}

.section-event .menu-categories {
  background-color: #db1e1c;
}
.section-event .menu-categories .menu-categories-inner .menu-categories-list .menu-categories-list__item {
  display: inline-block;
  padding: 15px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: #000;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
}
.section-event .menu-categories .menu-categories-inner .menu-categories-list .menu-categories-list__item:hover {
  background-color: #fff;
}
.section-event .menu-categories .menu-categories-inner .menu-categories-list .menu-categories-list__item:first-child {
  background-color: #fff;
}
.section-event .section-container .section-content {
  margin: 50px 0;
}
.section-event .section-container .section-content .event-tab {
  display: table;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 4px solid #ccc;
}
.section-event .section-container .section-content .event-tab .event-tab__image {
  float: left;
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  margin: 0;
}
.section-event .section-container .section-content .event-tab .event-tab-center {
  float: left;
  width: 50%;
  padding: 0 20px;
}
.section-event .section-container .section-content .event-tab .event-tab-center .event-tab-center__title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: left;
  color: #db1e1c;
}
.section-event .section-container .section-content .event-tab .event-tab-center .event-tab-center__location {
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px 0;
  text-align: left;
}
.section-event .section-container .section-content .event-tab .event-tab-center .event-tab-center__time {
  margin: 0 0 0 25px;
}
.section-event .section-container .section-content .event-tab .event-tab-center .event-tab-center__p {
  text-align: left;
}
.section-event .section-container .section-content .event-tab .event-tab-center .show-more-btn {
  margin: 20px 0 0 0;
  display: inline-block;
  cursor: pointer;
  color: #db1e1c;
}
.section-event .section-container .section-content .event-tab .event-tab-center .show-more-btn p {
  color: #db1e1c;
}
.section-event .section-container .section-content .event-tab .event-tab-right {
  float: left;
  width: 20%;
  margin: 30px 0 0 0;
  text-align: left;
}
.section-event .section-container .section-content .event-tab .event-tab-right .universal-button {
  width: 150px;
  font-size: 2em;
}
.section-event .section-container .section-content .event-tab .event-tab-right .fb-like {
  margin: 10px 0 0 35px;
}
.section-event .section-container .section-content .event-tab.premium-event {
  border: 4px solid #db1e1c;
}
.section-event .section-container .section-content .event-tab.premium-event .premium-img {
  position: absolute;
  top: 0;
  right: 10px;
  width: 83px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url("../img/premium.png");
  background-image: url("../img/premium.png");
}

.section-hp .section-header .section-header-inner .universal-button {
  margin: 30px 0 0 0;
}
.section-hp .subhead-part-1 {
  display: table;
  padding: 10px;
}
.section-hp .subhead-part-1 .subhead-part-1__title {
  padding: 30px;
  font-weight: 700;
  font-size: 2em;
}
.section-hp .subhead-part-1 .subhead-part-1__left {
  float: left;
  width: 50%;
}
.section-hp .subhead-part-1 .subhead-part-1__left .subhead-part-1__p {
  padding: 10px;
  text-align: left;
}
.section-hp .subhead-part-1 .subhead-part-1__left .subhead-part-1__left-title {
  font-weight: 700;
  font-size: 2.5em;
  text-align: left;
  margin: 20px;
}
.section-hp .subhead-part-1 .subhead-part-1__right {
  float: left;
  width: 50%;
}
.section-hp .subhead-part-1 .subhead-part-1__right .subhead-part-1__p {
  padding: 10px;
  text-align: left;
}
.section-hp .subhead-part-1 .subhead-part-1__right .subhead-part-1__right-title {
  font-weight: 700;
  font-size: 2.5em;
  text-align: left;
  margin: 20px;
}
.section-hp .subhead-part-1 .subhead-part-1-list {
  margin: 0 auto;
}
.section-hp .subhead-part-1 .subhead-part-1-list .subhead-part-1__item {
  overflow: hidden;
  width: 250px;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  margin: 15px;
}
.section-hp .subhead-part-1 .subhead-part-1-list .subhead-part-1__item .universal-button {
  width: 250px;
}
.section-hp .subhead-part-1 .subhead-part-1-list .subhead-part-1__item .input-login {
  width: 100%;
  height: 50px;
  border: 1px solid #000000;
  background: #fff;
  color: #ccc;
  font-weight: 700;
  font-size: 1.2em;
  padding-left: 15px;
  border-radius: 30px;
}
.section-hp .subhead-part-2 {
  display: table;
  padding: 10px;
}
.section-hp .subhead-part-2 .subhead-part-2__title {
  padding: 30px;
  font-weight: 700;
  font-size: 2em;
}
.section-hp .subhead-part-2 .subhead-part-2-tab {
  position: relative;
  float: left;
  width: 33.3%;
  padding: 20px;
}
.section-hp .subhead-part-2 .subhead-part-2-tab .locked-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
}
.section-hp .subhead-part-2 .subhead-part-2-tab .locked-tab i {
  transform: translateY(200%);
  font-size: 6em;
}
.section-hp .subhead-part-2 .subhead-part-2-tab .locked-tab.locked-tab--enabled {
  display: block;
}
.section-hp .subhead-part-2 .subhead-part-2-tab .locked-tab.locked-tab--disabled {
  display: none;
}
.section-hp .subhead-part-2 .subhead-part-2-tab .subhead-part-2-tab__image {
  width: 100%;
}
.section-hp .subhead-part-2 .subhead-part-2-tab .subhead-part-2-tab__title {
  font-weight: 700;
  margin: 15px 0;
  font-size: 1.5em;
  color: #db1e1c;
}
.section-hp .subhead-part-2 .subhead-part-2-tab .subhead-part-2-tab__location {
  margin: 5px 0;
  font-weight: 700;
}
.section-hp .subhead-part-2 .subhead-part-2-tab .subhead-part-2-tab__time {
  margin: 5px 0;
  font-weight: 700;
}
.section-hp .subhead-part-2 .subhead-part-2-tab .subhead-part-2-tab__p {
  margin: 15px 0 30px 0;
}
.section-hp .subhead-part-3 {
  padding: 10px;
}
.section-hp .subhead-part-3 .subhead-part-3__title {
  padding: 30px;
  font-weight: 700;
  font-size: 2em;
}
.section-hp .subhead-part-3 .subhead-part-3__image {
  margin: 30px;
}
.section-hp .subhead-part-3 .subhead-part-3__p {
  font-weight: 700;
  max-width: 600px;
  margin: 20px auto 80px auto;
}

/* FOOTER */
.footer {
  position: relative;
  height: 250px;
  background-color: #002e4f;
}
.footer .footer-inner {
  position: relative;
  padding: 10px;
  height: 100%;
}
.footer .footer-inner .footer-links .footer-site-map-list {
  margin: 20px 10px;
  float: left;
}
.footer .footer-inner .footer-links .footer-site-map-list .footer-site-map-list__item {
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  font-size: 0.85em;
}
.footer .footer-inner .footer-links .footer-site-map-list .footer-site-map-list__item:first-child {
  margin: 0;
}
.footer .footer-inner .footer-links .footer-terms {
  float: right;
  margin: 20px 10px;
  color: #db1e1c;
  font-size: 0.85em;
}
.footer .footer-inner .footer-links:after {
  content: "";
  display: block;
  clear: both;
}
.footer .footer-inner .footer-logo {
  width: 150px;
  margin: 15px auto 0 auto;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  .section-event .section-container .section-content {
    margin: 50px 0;
  }
  .section-event .section-container .section-content .event-tab .event-tab__image {
    float: none;
    width: 100%;
    margin: 0;
  }
  .section-event .section-container .section-content .event-tab .event-tab-center {
    float: left;
    width: 60%;
    margin: 20px 0 0 0;
  }
  .section-event .section-container .section-content .event-tab .event-tab-center .event-tab-center__time {
    display: block;
    margin: 0;
  }
  .section-event .section-container .section-content .event-tab .event-tab-right {
    text-align: center;
    width: 40%;
    margin: 20px 0 0 0;
  }
  .section-event .section-container .section-content .event-tab .event-tab-right .fb-like {
    margin: 10px 0 0 0;
  }
}
@media (max-width: 1180px) {
  .subhead-part-1__left .subhead-part-1__left-title {
    font-size: 2em;
  }

  .subhead-part-1__right .subhead-part-1__right-title {
    font-size: 2em;
  }
}
@media (max-width: 800px) {
  .footer .footer-inner .footer-links .footer-site-map-list {
    float: none;
  }
  .footer .footer-inner .footer-links .footer-site-map-list .footer-site-map-list__item {
    color: #fff;
    font-size: 1em;
  }
  .footer .footer-inner .footer-links .footer-site-map-list .footer-site-map-list__item:first-child {
    margin: 0;
  }
  .footer .footer-inner .footer-links .footer-terms {
    float: none;
    font-size: 1em;
  }
  .footer .footer-inner .footer-links:after {
    content: "";
    display: block;
    clear: both;
  }
  .footer .footer-inner .footer-logo {
    width: 150px;
    margin: 15px auto 0 auto;
  }
}
@media (max-width: 768px) {
  .section-header .section-header-inner .section-header__title {
    font-size: 2.5em;
  }

  .section-event-detail .section-container {
    padding: 15px;
  }
  .section-event-detail .section-container .section-content {
    float: none;
    width: 100%;
    padding: 0;
  }
  .section-event-detail .section-container .section-content .content-event-img {
    width: 100%;
  }
  .section-event-detail .section-container .section-content .subhead-description {
    padding: 0;
  }
  .section-event-detail .section-container .section-content .subhead-description .subhead-header {
    margin: 30px 0;
  }
  .section-event-detail .section-container .section-content .subhead-details {
    padding: 0;
  }
  .section-event-detail .section-container .section-content .subhead-details .subhead-header {
    margin: 30px 0;
  }
  .section-event-detail .section-container .section-content .subhead-place {
    padding: 0;
  }
  .section-event-detail .section-container .section-content .subhead-place .subhead-header {
    margin: 30px 0;
    font-size: 1.5em;
    font-weight: 700;
  }
  .section-event-detail .section-container .section-content .subhead-place .subhead-p {
    margin: 15px 0;
  }
  .section-event-detail .section-container .section-content .subhead-place .subhead-p .subhead-p__address {
    margin: 0 0 0 40px;
  }
  .section-event-detail .section-container .section-sidebar {
    float: none;
    width: 100%;
    margin: 60px 0;
  }
  .section-event-detail .section-container .section-sidebar .universal-button {
    margin: 5px 10px;
  }

  .section-event .section-container .section-content {
    margin: 50px 0;
  }
  .section-event .section-container .section-content .event-tab .event-tab__image {
    float: none;
    width: 100%;
    margin: 0;
  }
  .section-event .section-container .section-content .event-tab .event-tab-center {
    float: none;
    width: 100%;
    margin: 20px 0 0 0;
  }
  .section-event .section-container .section-content .event-tab .event-tab-center .event-tab-center__title {
    text-align: center;
  }
  .section-event .section-container .section-content .event-tab .event-tab-center .event-tab-center__location {
    text-align: center;
  }
  .section-event .section-container .section-content .event-tab .event-tab-center .event-tab-center__p {
    text-align: center;
  }
  .section-event .section-container .section-content .event-tab .event-tab-right {
    text-align: center;
    width: 100%;
  }

  .section-hp .subhead-part-1 .subhead-part-1__left {
    float: none;
    width: 100%;
  }
  .section-hp .subhead-part-1 .subhead-part-1__left .subhead-part-1__p {
    text-align: center;
  }
  .section-hp .subhead-part-1 .subhead-part-1__left .subhead-part-1__left-title {
    text-align: center;
  }
  .section-hp .subhead-part-1 .subhead-part-1__right {
    float: none;
    width: 100%;
  }
  .section-hp .subhead-part-1 .subhead-part-1__right .subhead-part-1__p {
    text-align: center;
  }
  .section-hp .subhead-part-1 .subhead-part-1__right .subhead-part-1__right-title {
    text-align: center;
  }
  .section-hp .subhead-part-2 {
    display: table;
    padding: 10px;
  }
  .section-hp .subhead-part-2 .subhead-part-2__title {
    padding: 30px 0 0 0;
    font-weight: 700;
    font-size: 2em;
  }
  .section-hp .subhead-part-2 .subhead-part-2-tab {
    float: none;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 20px;
  }
  .section-hp .subhead-part-2 .subhead-part-2-tab .subhead-part-2-tab__image {
    width: 100%;
  }
  .section-hp .subhead-part-2 .subhead-part-2-tab .subhead-part-2-tab__p {
    margin: 15px 0 30px 0;
  }
  .section-hp .subhead-part-3 .subhead-part-3__image {
    margin: 15px;
  }
}
@media (max-width: 480px) {
  .footer .footer-inner .footer-links .footer-site-map-list {
    float: none;
  }
  .footer .footer-inner .footer-links .footer-site-map-list .footer-site-map-list__item {
    display: block;
    color: #fff;
    font-size: 1em;
    margin: 10px 0;
  }
  .footer .footer-inner .footer-links .footer-site-map-list .footer-site-map-list__item:first-child {
    margin: 0;
  }
  .footer .footer-inner .footer-links .footer-terms {
    float: none;
    font-size: 1em;
  }
  .footer .footer-inner .footer-logo {
    width: 100px;
  }
}
#userInfoForm {
  margin-top: 80px;
}

.event-tab-center__time {
  width: 100%;
  FLOAT: LEFT;
  margin-left: 0px !important;
  margin-top: 15px !important;
  font-weight: 100;
}

.event-tab-center__location {
  margin-top: 15px !important;
}

.event-tab-center_p {
  width: 100%;
  float: left;
  text-align: left;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .event-tab-center_p {
    text-align: center;
  }
}

.event-tab-right .universal-button {
  font-size: 17px !important;
  padding: 10px 15px;
}

.event-tab-right {
  position: relative;
}

.event-tab-right .btn-primary {
  position: absolute;
  left: 75px;
  margin: 0px;
  transform: translateX(-50%);
  margin-top: 5px;
}
@media (max-width: 1200px) {
  .event-tab-right .btn-primary {
    left: 86%;
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .event-tab-right .btn-primary {
    position: relative;
    left: 0px;
    transform: unset;
  }
}

.section-event .section-container .section-content .event-tab .event-tab__image {
  width: 200px;
  max-width: 100%;
}
@media (max-width: 1200px) {
  .section-event .section-container .section-content .event-tab .event-tab__image {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-event .section-container .section-content .event-tab .event-tab-center {
  width: 55%;
}
@media (max-width: 992px) {
  .section-event .section-container .section-content .event-tab .event-tab-center {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .section-event .section-container .section-content .event-tab .event-tab-center {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .section-event .section-container .section-content .event-tab .event-tab-right {
    text-align: right;
  }
}
@media (max-width: 992px) {
  .section-event .section-container .section-content .event-tab .event-tab-right {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .section-event .section-container .section-content .event-tab .event-tab-right {
    width: 100%;
    text-align: center;
  }
}

.menu-categories-list__item {
  display: inline-block;
  padding: 15px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: #000;
  border-radius: 100px;
  cursor: pointer;
}

.menu-categories-list__item:hover {
  background: white;
}

.menu-categories-list__item.active {
  background: white;
}

.menu-categories {
  background-color: #db1e1c;
}

.banner-text {
  font-size: 40px;
}
@media (max-width: 2000px) {
  .banner-text {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .banner-text {
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .banner-text {
    font-size: 10px;
  }
}
@media (max-width: 800px) {
  .banner-text {
    font-size: 8px;
  }
}

.header-button {
  position: absolute;
  left: 0px;
  top: -95px;
  outline: none;
}
@media (max-width: 1200px) {
  .header-button {
    position: relative;
    top: 0px;
  }
}

.banner-skyscraper-right-bott {
  display: inline-block;
  width: 12%;
  position: absolute;
  right: 0px;
}

.banner-skyscraper-left-bott {
  display: inline-block;
  width: 12%;
  position: absolute;
  margin-top: 30px;
  left: 0px;
}

