/*!
 * Plan Skin for Bootstrap 3
 * author: @geedmo
 * Copyright (c) 2016, Geedmo. All rights reserved.
 * License: http://codecanyon.net/licenses
 */
.checkbox,
.radio,
.input-group-addon.has-checkbox,
.input-group-addon.has-radio {
  position: relative;
  -webkit-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  transition: color linear 0.2s;
  overflow: hidden;
}
.checkbox.checked .ctrl-overlay,
.radio.checked .ctrl-overlay,
.input-group-addon.has-checkbox.checked .ctrl-overlay,
.input-group-addon.has-radio.checked .ctrl-overlay {
  content: "\f00c";
  background-color: #fb4a5e;
  -webkit-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
}
.checkbox.disabled .ctrl-overlay,
.radio.disabled .ctrl-overlay,
.input-group-addon.has-checkbox.disabled .ctrl-overlay,
.input-group-addon.has-radio.disabled .ctrl-overlay {
  background-color: #bcc1c7;
}
.checkbox:hover,
.radio:hover,
.input-group-addon.has-checkbox:hover,
.input-group-addon.has-radio:hover {
  color: #fb4a5e;
  -webkit-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  transition: color linear 0.2s;
}
.checkbox input[type="checkbox"],
.radio input[type="checkbox"],
.input-group-addon.has-checkbox input[type="checkbox"],
.input-group-addon.has-radio input[type="checkbox"],
.checkbox input[type="radio"],
.radio input[type="radio"],
.input-group-addon.has-checkbox input[type="radio"],
.input-group-addon.has-radio input[type="radio"] {
  opacity: 0;
  filter: alpha(opacity=0);
  outline: none !important;
}
.form-inline .checkbox > label > input[type="checkbox"],
.form-inline .radio > label > input[type="checkbox"],
.form-inline .checkbox > label > input[type="radio"],
.form-inline .radio > label > input[type="radio"] {
  margin-top: 0;
  margin-right: 6px;
}
.form-horizontal .checkbox,
.form-horizontal .radio {
  padding-top: 0;
}
.checkbox-inline,
.radio-inline {
  margin-top: 0;
}
.input-group-addon.has-checkbox .ctrl-overlay,
.input-group-addon.has-radio .ctrl-overlay {
  display: block;
  position: relative;
  cursor: pointer;
  color: #d8dbde;
  background-color: transparent;
  width: 14px;
}
.input-group-addon.has-checkbox input[type="checkbox"],
.input-group-addon.has-radio input[type="checkbox"],
.input-group-addon.has-checkbox input[type="radio"],
.input-group-addon.has-radio input[type="radio"] {
  display: none;
}
.input-group-addon.has-checkbox.checked .ctrl-overlay,
.input-group-addon.has-radio.checked .ctrl-overlay {
  color: #fb4a5e;
  background-color: transparent;
}
.input-focused .input-group-addon.checked > .ctrl-overlay {
  color: #fff !important;
}
.checkbox,
.radio {
  padding-left: 30px;
}
.radio .ctrl-overlay {
  border-radius: 100px;
}
.ctrl-overlay {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  line-height: 21px;
  background-color: #bcc1c7;
  border-radius: 3px;
  color: #fff;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-indent: 0\9;
  -webkit-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
}
.toggle {
  position: relative;
  width: 70px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 500px;
  overflow: hidden;
  background-color: #bcc1c7;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.toggle input {
  opacity: 0;
  filter: alpha(opacity=0);
  outline: none;
  display: none;
}
.toggle > em,
.toggle > em[class^="icon-"] {
  position: absolute;
  font-size: 24px;
  line-height: 30px;
  right: auto;
  left: 0;
  margin-left: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: margin-left 0.3s ease-out;
  -o-transition: margin-left 0.3s ease-out;
  transition: margin-left 0.3s ease-out;
}
.toggle .toggle-on,
.toggle .toggle-off {
  width: 50px;
  height: 30px;
  margin-left: 20px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
.toggle .toggle-off {
  display: block;
}
.toggle .toggle-on {
  display: none;
}
.toggle.on {
  background-color: #fb4a5e;
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.toggle.on > em {
  margin-left: 40px;
  -webkit-transition: margin-left 0.3s ease-out;
  -o-transition: margin-left 0.3s ease-out;
  transition: margin-left 0.3s ease-out;
}
.toggle.on .toggle-on {
  display: block;
  margin-left: 0;
}
.toggle.on .toggle-off {
  display: none;
}
.toggle.disabled {
  background-color: #bcc1c7;
}
.toggle.toggle-square {
  border-radius: 6px;
}
.toggle-success.on {
  background-color: #27AE60;
}
.toggle-warning.on {
  background-color: #f5af41;
}
.toggle-info.on {
  background-color: #3498db;
}
.toggle-danger.on {
  background-color: #d94d3f;
}
.dropdown-toggle.dropdown-selectasd {
  width: 100%;
  text-align: left !important;
  float: none;
}
.dropdown-toggle.dropdown-selectasd .caret {
  position: absolute;
  right: 10px;
  top: 45%;
}
.dropdown-toggle.dropdown-selectasd + .dropdown-menu {
  width: 100%;
}
.input-group.input-icon .form-control,
.input-group.input-icon.input-focused .form-control {
  outline: none !important;
}
.input-group.input-icon > .input-group-addon,
.input-group.input-icon.input-focused > .input-group-addon,
.input-group.input-icon > .input-group-addon:hover,
.input-group.input-icon.input-focused > .input-group-addon:hover {
  border-width: 2px;
  background-color: #fff !important;
  color: #bcc1c7 !important;
  -webkit-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
}
.input-group.input-icon .input-group-addon + .form-control,
.input-group.input-icon.input-focused .input-group-addon + .form-control {
  border-left-width: 0;
  border-right-width: 0;
}
.input-group.input-icon > .form-control:first-child,
.input-group.input-icon.input-focused > .form-control:first-child {
  border-right-width: 0;
}
.input-group.input-icon > .form-control:last-child,
.input-group.input-icon.input-focused > .form-control:last-child {
  border-right-width: 2px;
}
.table-bordered.bordered-primary,
.table-bordered.bordered-primary td,
.table-bordered.bordered-primary tr,
.table-bordered.bordered-primary th {
  border-color: #fb4a5e;
}
.table-bordered.bordered-danger,
.table-bordered.bordered-danger td,
.table-bordered.bordered-danger tr,
.table-bordered.bordered-danger th {
  border-color: #d94d3f;
}
.table-bordered.bordered-info,
.table-bordered.bordered-info td,
.table-bordered.bordered-info tr,
.table-bordered.bordered-info th {
  border-color: #3498db;
}
.table-bordered.bordered-success,
.table-bordered.bordered-success td,
.table-bordered.bordered-success tr,
.table-bordered.bordered-success th {
  border-color: #27AE60;
}
.table-bordered.bordered-warning,
.table-bordered.bordered-warning td,
.table-bordered.bordered-warning tr,
.table-bordered.bordered-warning th {
  border-color: #F1C40F;
}
.table-bordered.bordered-inverse,
.table-bordered.bordered-inverse td,
.table-bordered.bordered-inverse tr,
.table-bordered.bordered-inverse th {
  border-color: #2C3E50;
}
table.header-primary thead {
  background-color: #fb4a5e;
  color: #fff;
}
table.header-primary tbody > tr:first-child > td {
  border-top: 0;
}
table.header-danger thead {
  background-color: #d94d3f;
  color: #fff;
}
table.header-danger tbody > tr:first-child > td {
  border-top: 0;
}
table.header-info thead {
  background-color: #3498db;
  color: #fff;
}
table.header-info tbody > tr:first-child > td {
  border-top: 0;
}
table.header-success thead {
  background-color: #27AE60;
  color: #fff;
}
table.header-success tbody > tr:first-child > td {
  border-top: 0;
}
table.header-warning thead {
  background-color: #F1C40F;
  color: #fff;
}
table.header-warning tbody > tr:first-child > td {
  border-top: 0;
}
table.header-inverse thead {
  background-color: #2C3E50;
  color: #fff;
}
table.header-inverse tbody > tr:first-child > td {
  border-top: 0;
}
.btn-icon {
  padding-left: 10px;
  padding-right: 10px;
}
.btn-icon em {
  display: inline-block;
  width: 1.28571429em;
  text-align: center;
}
.btn-transparent {
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-transparent:hover {
  color: #fff !important;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}




.btn-transparent.btn-primary {
  color: #fb4a5e;
}
.btn-transparent.btn-danger {
  color: #d94d3f;
}
.btn-transparent.btn-warning {
  color: #f5af41;
}
.btn-transparent.btn-info {
  color: #3498db;
}
.btn-transparent.btn-success {
  color: #27AE60;
}
.btn-facebook {
  color: #fff;
  background-color: #2e4a88;
  border-color: #2e4a88;
  margin-bottom: 10px;
}
.btn-facebook:focus,
.btn-facebook.focus {
  color: #fff;
  background-color: #385ba6;
  border-color: #385ba6;
}
.btn-facebook:hover {
  color: #fff;
  background-color: #385ba6;
  border-color: #385ba6;
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #385ba6;
  border-color: #385ba6;
}
.btn-facebook:active:hover,
.btn-facebook.active:hover,
.open > .dropdown-toggle.btn-facebook:hover,
.btn-facebook:active:focus,
.btn-facebook.active:focus,
.open > .dropdown-toggle.btn-facebook:focus,
.btn-facebook:active.focus,
.btn-facebook.active.focus,
.open > .dropdown-toggle.btn-facebook.focus {
  color: #fff;
  background-color: #385ba6;
  border-color: #385ba6;
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled.focus,
.btn-facebook[disabled].focus,
fieldset[disabled] .btn-facebook.focus {
  background-color: #2e4a88;
  border-color: #2e4a88;
}
.btn-facebook .badge {
  color: #2e4a88;
  background-color: #fff;
}
.btn-twitter {
  color: #fff;
  background-color: #008DDE;
  border-color: #008DDE;
  margin-bottom: 10px;
}
.btn-twitter:focus,
.btn-twitter.focus {
  color: #fff;
  background-color: #08a5ff;
  border-color: #08a5ff;
}
.btn-twitter:hover {
  color: #fff;
  background-color: #08a5ff;
  border-color: #08a5ff;
}
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
  color: #fff;
  background-color: #08a5ff;
  border-color: #08a5ff;
}
.btn-twitter:active:hover,
.btn-twitter.active:hover,
.open > .dropdown-toggle.btn-twitter:hover,
.btn-twitter:active:focus,
.btn-twitter.active:focus,
.open > .dropdown-toggle.btn-twitter:focus,
.btn-twitter:active.focus,
.btn-twitter.active.focus,
.open > .dropdown-toggle.btn-twitter.focus {
  color: #fff;
  background-color: #08a5ff;
  border-color: #08a5ff;
}
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled.focus,
.btn-twitter[disabled].focus,
fieldset[disabled] .btn-twitter.focus {
  background-color: #008DDE;
  border-color: #008DDE;
}
.btn-twitter .badge {
  color: #008DDE;
  background-color: #fff;
}
.btn-google {
  color: #fff;
  background-color: #CC3622;
  border-color: #CC3622;
  margin-bottom: 10px;
}
.btn-google:focus,
.btn-google.focus {
  color: #fff;
  background-color: #de4c39;
  border-color: #de4c39;
}
.btn-google:hover {
  color: #fff;
  background-color: #de4c39;
  border-color: #de4c39;
}
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
  color: #fff;
  background-color: #de4c39;
  border-color: #de4c39;
}
.btn-google:active:hover,
.btn-google.active:hover,
.open > .dropdown-toggle.btn-google:hover,
.btn-google:active:focus,
.btn-google.active:focus,
.open > .dropdown-toggle.btn-google:focus,
.btn-google:active.focus,
.btn-google.active.focus,
.open > .dropdown-toggle.btn-google.focus {
  color: #fff;
  background-color: #de4c39;
  border-color: #de4c39;
}
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
  background-image: none;
}
.btn-google.disabled:hover,
.btn-google[disabled]:hover,
fieldset[disabled] .btn-google:hover,
.btn-google.disabled:focus,
.btn-google[disabled]:focus,
fieldset[disabled] .btn-google:focus,
.btn-google.disabled.focus,
.btn-google[disabled].focus,
fieldset[disabled] .btn-google.focus {
  background-color: #CC3622;
  border-color: #CC3622;
}
.btn-google .badge {
  color: #CC3622;
  background-color: #fff;
}
.btn-rss {
  color: #fff;
  background-color: #F88F25;
  border-color: #F88F25;
  margin-bottom: 10px;
}
.btn-rss:focus,
.btn-rss.focus {
  color: #fff;
  background-color: #f9a34d;
  border-color: #f9a34d;
}
.btn-rss:hover {
  color: #fff;
  background-color: #f9a34d;
  border-color: #f9a34d;
}
.btn-rss:active,
.btn-rss.active,
.open > .dropdown-toggle.btn-rss {
  color: #fff;
  background-color: #f9a34d;
  border-color: #f9a34d;
}
.btn-rss:active:hover,
.btn-rss.active:hover,
.open > .dropdown-toggle.btn-rss:hover,
.btn-rss:active:focus,
.btn-rss.active:focus,
.open > .dropdown-toggle.btn-rss:focus,
.btn-rss:active.focus,
.btn-rss.active.focus,
.open > .dropdown-toggle.btn-rss.focus {
  color: #fff;
  background-color: #f9a34d;
  border-color: #f9a34d;
}
.btn-rss:active,
.btn-rss.active,
.open > .dropdown-toggle.btn-rss {
  background-image: none;
}
.btn-rss.disabled:hover,
.btn-rss[disabled]:hover,
fieldset[disabled] .btn-rss:hover,
.btn-rss.disabled:focus,
.btn-rss[disabled]:focus,
fieldset[disabled] .btn-rss:focus,
.btn-rss.disabled.focus,
.btn-rss[disabled].focus,
fieldset[disabled] .btn-rss.focus {
  background-color: #F88F25;
  border-color: #F88F25;
}
.btn-rss .badge {
  color: #F88F25;
  background-color: #fff;
}
.btn-facebook em,
.btn-twitter em,
.btn-google em,
.btn-rss em {
  display: inline-block !important;
  text-align: center;
  width: 1em;
}
[class*="btn-turn-"],
[class*="btn-turn-"]:hover {
  -webkit-transition: color .2s ease, background-color .2s ease;
  -o-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease;
}
.btn-turn-primary:hover {
  color: #fff;
  background-color: #fb4a5e;
  border-color: #fb4a5e;
}
.btn-turn-primary:hover:focus,
.btn-turn-primary:hover.focus {
  color: #fff;
  background-color: #ac75c2;
  border-color: #ac75c2;
}
.btn-turn-primary:hover:hover {
  color: #fff;
  background-color: #ac75c2;
  border-color: #ac75c2;
}
.btn-turn-primary:hover:active,
.btn-turn-primary:hover.active,
.open > .dropdown-toggle.btn-turn-primary:hover {
  color: #fff;
  background-color: #ac75c2;
  border-color: #ac75c2;
}
.btn-turn-primary:hover:active:hover,
.btn-turn-primary:hover.active:hover,
.open > .dropdown-toggle.btn-turn-primary:hover:hover,
.btn-turn-primary:hover:active:focus,
.btn-turn-primary:hover.active:focus,
.open > .dropdown-toggle.btn-turn-primary:hover:focus,
.btn-turn-primary:hover:active.focus,
.btn-turn-primary:hover.active.focus,
.open > .dropdown-toggle.btn-turn-primary:hover.focus {
  color: #fff;
  background-color: #ac75c2;
  border-color: #ac75c2;
}
.btn-turn-primary:hover:active,
.btn-turn-primary:hover.active,
.open > .dropdown-toggle.btn-turn-primary:hover {
  background-image: none;
}
.btn-turn-primary:hover.disabled:hover,
.btn-turn-primary:hover[disabled]:hover,
fieldset[disabled] .btn-turn-primary:hover:hover,
.btn-turn-primary:hover.disabled:focus,
.btn-turn-primary:hover[disabled]:focus,
fieldset[disabled] .btn-turn-primary:hover:focus,
.btn-turn-primary:hover.disabled.focus,
.btn-turn-primary:hover[disabled].focus,
fieldset[disabled] .btn-turn-primary:hover.focus {
  background-color: #fb4a5e;
  border-color: #fb4a5e;
}
.btn-turn-primary:hover .badge {
  color: #fb4a5e;
  background-color: #fff;
}
.btn-turn-warning:hover {
  color: #fff;
  background-color: #f5af41;
  border-color: #f5af41;
}
.btn-turn-warning:hover:focus,
.btn-turn-warning:hover.focus {
  color: #fff;
  background-color: #f7bf68;
  border-color: #f7bf68;
}
.btn-turn-warning:hover:hover {
  color: #fff;
  background-color: #f7bf68;
  border-color: #f7bf68;
}
.btn-turn-warning:hover:active,
.btn-turn-warning:hover.active,
.open > .dropdown-toggle.btn-turn-warning:hover {
  color: #fff;
  background-color: #f7bf68;
  border-color: #f7bf68;
}
.btn-turn-warning:hover:active:hover,
.btn-turn-warning:hover.active:hover,
.open > .dropdown-toggle.btn-turn-warning:hover:hover,
.btn-turn-warning:hover:active:focus,
.btn-turn-warning:hover.active:focus,
.open > .dropdown-toggle.btn-turn-warning:hover:focus,
.btn-turn-warning:hover:active.focus,
.btn-turn-warning:hover.active.focus,
.open > .dropdown-toggle.btn-turn-warning:hover.focus {
  color: #fff;
  background-color: #f7bf68;
  border-color: #f7bf68;
}
.btn-turn-warning:hover:active,
.btn-turn-warning:hover.active,
.open > .dropdown-toggle.btn-turn-warning:hover {
  background-image: none;
}
.btn-turn-warning:hover.disabled:hover,
.btn-turn-warning:hover[disabled]:hover,
fieldset[disabled] .btn-turn-warning:hover:hover,
.btn-turn-warning:hover.disabled:focus,
.btn-turn-warning:hover[disabled]:focus,
fieldset[disabled] .btn-turn-warning:hover:focus,
.btn-turn-warning:hover.disabled.focus,
.btn-turn-warning:hover[disabled].focus,
fieldset[disabled] .btn-turn-warning:hover.focus {
  background-color: #f5af41;
  border-color: #f5af41;
}
.btn-turn-warning:hover .badge {
  color: #f5af41;
  background-color: #fff;
}
.btn-turn-danger:hover {
  color: #fff;
  background-color: #d94d3f;
  border-color: #d94d3f;
}
.btn-turn-danger:hover:focus,
.btn-turn-danger:hover.focus {
  color: #fff;
  background-color: #e06d61;
  border-color: #e06d61;
}
.btn-turn-danger:hover:hover {
  color: #fff;
  background-color: #e06d61;
  border-color: #e06d61;
}
.btn-turn-danger:hover:active,
.btn-turn-danger:hover.active,
.open > .dropdown-toggle.btn-turn-danger:hover {
  color: #fff;
  background-color: #e06d61;
  border-color: #e06d61;
}
.btn-turn-danger:hover:active:hover,
.btn-turn-danger:hover.active:hover,
.open > .dropdown-toggle.btn-turn-danger:hover:hover,
.btn-turn-danger:hover:active:focus,
.btn-turn-danger:hover.active:focus,
.open > .dropdown-toggle.btn-turn-danger:hover:focus,
.btn-turn-danger:hover:active.focus,
.btn-turn-danger:hover.active.focus,
.open > .dropdown-toggle.btn-turn-danger:hover.focus {
  color: #fff;
  background-color: #e06d61;
  border-color: #e06d61;
}
.btn-turn-danger:hover:active,
.btn-turn-danger:hover.active,
.open > .dropdown-toggle.btn-turn-danger:hover {
  background-image: none;
}
.btn-turn-danger:hover.disabled:hover,
.btn-turn-danger:hover[disabled]:hover,
fieldset[disabled] .btn-turn-danger:hover:hover,
.btn-turn-danger:hover.disabled:focus,
.btn-turn-danger:hover[disabled]:focus,
fieldset[disabled] .btn-turn-danger:hover:focus,
.btn-turn-danger:hover.disabled.focus,
.btn-turn-danger:hover[disabled].focus,
fieldset[disabled] .btn-turn-danger:hover.focus {
  background-color: #d94d3f;
  border-color: #d94d3f;
}
.btn-turn-danger:hover .badge {
  color: #d94d3f;
  background-color: #fff;
}
.btn-turn-success:hover {
  color: #fff;
  background-color: #27AE60;
  border-color: #27AE60;
}
.btn-turn-success:hover:focus,
.btn-turn-success:hover.focus {
  color: #fff;
  background-color: #2ecf72;
  border-color: #2ecf72;
}
.btn-turn-success:hover:hover {
  color: #fff;
  background-color: #2ecf72;
  border-color: #2ecf72;
}
.btn-turn-success:hover:active,
.btn-turn-success:hover.active,
.open > .dropdown-toggle.btn-turn-success:hover {
  color: #fff;
  background-color: #2ecf72;
  border-color: #2ecf72;
}
.btn-turn-success:hover:active:hover,
.btn-turn-success:hover.active:hover,
.open > .dropdown-toggle.btn-turn-success:hover:hover,
.btn-turn-success:hover:active:focus,
.btn-turn-success:hover.active:focus,
.open > .dropdown-toggle.btn-turn-success:hover:focus,
.btn-turn-success:hover:active.focus,
.btn-turn-success:hover.active.focus,
.open > .dropdown-toggle.btn-turn-success:hover.focus {
  color: #fff;
  background-color: #2ecf72;
  border-color: #2ecf72;
}
.btn-turn-success:hover:active,
.btn-turn-success:hover.active,
.open > .dropdown-toggle.btn-turn-success:hover {
  background-image: none;
}
.btn-turn-success:hover.disabled:hover,
.btn-turn-success:hover[disabled]:hover,
fieldset[disabled] .btn-turn-success:hover:hover,
.btn-turn-success:hover.disabled:focus,
.btn-turn-success:hover[disabled]:focus,
fieldset[disabled] .btn-turn-success:hover:focus,
.btn-turn-success:hover.disabled.focus,
.btn-turn-success:hover[disabled].focus,
fieldset[disabled] .btn-turn-success:hover.focus {
  background-color: #27AE60;
  border-color: #27AE60;
}
.btn-turn-success:hover .badge {
  color: #27AE60;
  background-color: #fff;
}
.btn-turn-info:hover {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}
.btn-turn-info:hover:focus,
.btn-turn-info:hover.focus {
  color: #fff;
  background-color: #57aae1;
  border-color: #57aae1;
}
.btn-turn-info:hover:hover {
  color: #fff;
  background-color: #57aae1;
  border-color: #57aae1;
}
.btn-turn-info:hover:active,
.btn-turn-info:hover.active,
.open > .dropdown-toggle.btn-turn-info:hover {
  color: #fff;
  background-color: #57aae1;
  border-color: #57aae1;
}
.btn-turn-info:hover:active:hover,
.btn-turn-info:hover.active:hover,
.open > .dropdown-toggle.btn-turn-info:hover:hover,
.btn-turn-info:hover:active:focus,
.btn-turn-info:hover.active:focus,
.open > .dropdown-toggle.btn-turn-info:hover:focus,
.btn-turn-info:hover:active.focus,
.btn-turn-info:hover.active.focus,
.open > .dropdown-toggle.btn-turn-info:hover.focus {
  color: #fff;
  background-color: #57aae1;
  border-color: #57aae1;
}
.btn-turn-info:hover:active,
.btn-turn-info:hover.active,
.open > .dropdown-toggle.btn-turn-info:hover {
  background-image: none;
}
.btn-turn-info:hover.disabled:hover,
.btn-turn-info:hover[disabled]:hover,
fieldset[disabled] .btn-turn-info:hover:hover,
.btn-turn-info:hover.disabled:focus,
.btn-turn-info:hover[disabled]:focus,
fieldset[disabled] .btn-turn-info:hover:focus,
.btn-turn-info:hover.disabled.focus,
.btn-turn-info:hover[disabled].focus,
fieldset[disabled] .btn-turn-info:hover.focus {
  background-color: #3498db;
  border-color: #3498db;
}
.btn-turn-info:hover .badge {
  color: #3498db;
  background-color: #fff;
}
.accordion {
  margin-bottom: 1.42857143;
}
.accordion-group {
  margin-bottom: 2px;
  border-radius: 4px;
}
.accordion-heading {
  border-bottom: 0;
  background-color: #476674;
  border: 0;
  border-radius: 4px;
  border-left: 0 solid #fb4a5e;
  -webkit-transition: border-left-width 0.3s linear;
  -o-transition: border-left-width 0.3s linear;
  transition: border-left-width 0.3s linear;
}
.accordion-heading:hover {
  border-left-width: 6px;
  -webkit-transition: border-left-width 0.2s linear;
  -o-transition: border-left-width 0.2s linear;
  transition: border-left-width 0.2s linear;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 10px 15px;
  color: #fff;
}
.accordion-toggle,
a.accordion-toggle {
  cursor: pointer;
  font-weight: bold;
}
.accordion-toggle:focus,
a.accordion-toggle:focus,
.accordion-toggle:hover,
a.accordion-toggle:hover {
  outline: none;
  text-decoration: none !important;
}
.accordion-inner {
  padding: 9px 15px;
}
.nav-stacked.nav-spaced li {
  margin-bottom: 10px;
}
.nav-stacked.nav-spaced li a,
.nav-stacked.nav-spaced li a:hover,
.nav-stacked.nav-spaced li a:focus {
  border-width: 0;
  border-radius: 4px !important;
  background-color: #eee;
  color: #566678;
  font-weight: bold;
}
.nav-stacked.nav-spaced li a:hover {
  color: #fb4a5e;
}
.nav-stacked.nav-spaced li.active a {
  background-color: #fb4a5e;
  color: #fff;
}
.nav-stacked.nav-spaced li.active .label {
  background: #fff;
  color: #777777;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 2px solid #ddd;
  border-bottom-width: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-width: 2px;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2;
}
.nav-pills.img-pills li a {
  color: #566678;
}
.nav-pills.img-pills li.active a {
  color: #fff;
}
.nav-pills.img-pills li img {
  border-radius: 3px;
  margin-right: 10px;
}
.nav-stacked a:before,
.nav-stacked a:after {
  content: " ";
  display: table;
}
.nav-stacked a:after {
  clear: both;
}
.nav-stacked .toggle {
  margin: 0;
  float: right;
}
.row.flush {
  margin: 0;
}
.row.flush [class*="col-"] {
  padding: 0;
}
.row.flush [class*="col-"] a > img {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}
.row.flush [class*="col-"] a > img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}
/* Flex Video */
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video,
.flex-video .video-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}
/*!
Video.js FLAT Style (http://videojs.com)
Version 4.0.2
*/
/* Base UI Component Classes
-------------------------------------------------------------------------------- */
.video-js {
  max-width: 100%;
}
.video-js.vjs-flat-skin {
  font-size: 8px;
}
@media (min-width: 480px) {
  .video-js.vjs-flat-skin {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .video-js.vjs-flat-skin {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .video-js.vjs-flat-skin {
    font-size: 14px;
  }
}
.vjs-flat-skin {
  color: #ccc;
}
/* Slider - used for Volume bar and Seek bar */
.vjs-flat-skin .vjs-slider {
  outline: 0;
  /* Replace browser focus hightlight with handle highlight */
  position: relative;
  cursor: pointer;
  padding: 0;
  background: #323232;
  /* IE8- Fallback */
  background: rgba(100, 100, 100, 0.5);
}
.vjs-flat-skin .vjs-slider:focus {
  background: #464646;
  /* IE8- Fallback */
  background: rgba(100, 100, 100, 0.7);
  -webkit-box-shadow: 0 0 2em #ffffff;
  -moz-box-shadow: 0 0 2em #ffffff;
  box-shadow: 0 0 2em #ffffff;
}
.vjs-flat-skin .vjs-slider-handle {
  position: absolute;
  /* Needed for IE6 */
  left: 0;
  top: 0;
}
.vjs-flat-skin .vjs-slider-handle:before {
  /*content: "\f111";*/
  /* Circle icon = f111 */
  content: "\f111";
  /* Circle icon */
  font-family: FontAwesome;
  font-size: 1.5em;
  line-height: .5;
  text-align: center;
  color: #fb4a5e;
  position: absolute;
  top: 0;
  left: 0;
  /* Rotate the square icon to make a diamond */
  /*
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  */
}
/* Control Bar
-------------------------------------------------------------------------------- */
/* The default control bar. Created by controls.js */
.vjs-flat-skin .vjs-control-bar {
  display: block;
  /* Start visible */
  position: absolute;
  /* Distance from the bottom of the box/video. Keep 0. Use height to add more bottom margin. */
  bottom: 0;
  /* 100% width of player div */
  left: 0;
  right: 0;
  /* Controls are absolutely position, so no padding necessary */
  padding: 0;
  margin: 0;
  /* Height includes any margin you want above or below control items */
  height: 3.0em;
  background-color: #293134;
  /* Slight blue so it can be seen more easily on black. */
  /* Default font settings */
  font-style: normal;
  font-weight: normal;
  font-family: Arial, sans-serif;
}
/* General styles for individual controls. */
.vjs-flat-skin .vjs-control {
  outline: none;
  position: relative;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 3.0em;
  width: 4em;
}
/* FontAwsome button icons */
.vjs-flat-skin .vjs-control:before {
  font-family: FontAwesome;
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* Replacement for focus outline */
.vjs-flat-skin .vjs-control:focus {
  /*  outline: 0; */
  /* keyboard-only users cannot see the focus on several of the UI elements when this is set to 0 */
}
/* Hide control text visually, but have it available for screenreaders: h5bp.com/v */
.vjs-flat-skin .vjs-control-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Play/Pause
-------------------------------------------------------------------------------- */
.vjs-flat-skin .vjs-play-control {
  width: 5em;
  cursor: pointer;
  color: #fb4a5e;
}
.vjs-flat-skin .vjs-play-control:before {
  content: "\f04b";
  /* Play Icon */
}
.vjs-flat-skin.vjs-playing .vjs-play-control:before {
  content: "\f04c";
  /* Pause Icon */
}
/* Rewind
-------------------------------------------------------------------------------- */
/*.vjs-flat-skin .vjs-rewind-control { width: 5em; cursor: pointer !important; }
.vjs-flat-skin .vjs-rewind-control div { width: 19px; height: 16px; background: url('video-js.png'); margin: 0.5em auto 0; }
*/
/* Volume/Mute
-------------------------------------------------------------------------------- */
.vjs-flat-skin .vjs-mute-control,
.vjs-flat-skin .vjs-volume-menu-button {
  cursor: pointer;
  float: right;
}
.vjs-flat-skin .vjs-mute-control:before,
.vjs-flat-skin .vjs-volume-menu-button:before {
  content: "\f028";
  /* Full volume */
  color: #bcc1c7;
}
.vjs-flat-skin .vjs-mute-control.vjs-vol-0:before,
.vjs-flat-skin .vjs-volume-menu-button.vjs-vol-0:before {
  content: "\f026";
  /* No volume */
  color: #bcc1c7;
}
.vjs-flat-skin .vjs-mute-control.vjs-vol-1:before,
.vjs-flat-skin .vjs-volume-menu-button.vjs-vol-1:before {
  content: "\f027";
  /* Half volume */
  color: #bcc1c7;
}
.vjs-flat-skin .vjs-mute-control.vjs-vol-2:before,
.vjs-flat-skin .vjs-volume-menu-button.vjs-vol-2:before {
  content: "\f028";
  /* Full volume */
  color: #bcc1c7;
}
.vjs-flat-skin .vjs-volume-control {
  width: 5em;
  float: right;
}
.vjs-flat-skin .vjs-volume-bar {
  width: 5em;
  height: 0.6em;
  margin: 1.1em auto 0;
}
.vjs-flat-skin .vjs-volume-menu-button .vjs-menu-content {
  height: 2.9em;
}
.vjs-flat-skin .vjs-volume-level {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.6em;
  background-color: #fb4a5e;
  /*background: #66A8CC
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC)
    -50% 0 repeat;*/
}
.vjs-flat-skin .vjs-volume-bar .vjs-volume-handle {
  width: 0.5em;
  height: 0.5em;
}
.vjs-flat-skin .vjs-volume-handle:before {
  font-size: 1.2em;
  font-size: 18px;
  line-height: 1;
  top: -0.2em;
  left: -0.2em;
  width: 1em;
  height: 1em;
}
.vjs-flat-skin .vjs-volume-menu-button .vjs-menu .vjs-menu-content {
  width: 6em;
  left: -4em;
}
/*.vjs-flat-skin .vjs-menu-button .vjs-volume-control {
  height: 1.5em;
}*/
/* Progress
-------------------------------------------------------------------------------- */
.vjs-flat-skin .vjs-progress-control {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  font-size: 0.3em;
  height: 1em;
  /* Set above the rest of the controls. */
  top: -1em;
  /* Shrink the bar slower than it grows. */
  -webkit-transition: top 0.4s, height 0.4s, font-size 0.4s, -webkit-transform 0.4s;
  -moz-transition: top 0.4s, height 0.4s, font-size 0.4s, -moz-transform 0.4s;
  -o-transition: top 0.4s, height 0.4s, font-size 0.4s, -o-transform 0.4s;
  transition: top 0.4s, height 0.4s, font-size 0.4s, transform 0.4s;
}
/* On hover, make the progress bar grow to something that's more clickable.
    This simply changes the overall font for the progress bar, and this
    updates both the em-based widths and heights, as wells as the icon font */
.vjs-flat-skin:hover .vjs-progress-control {
  font-size: .9em;
  /* Even though we're not changing the top/height, we need to include them in
      the transition so they're handled correctly. */
  -webkit-transition: top 0.2s, height 0.2s, font-size 0.2s, -webkit-transform 0.2s;
  -moz-transition: top 0.2s, height 0.2s, font-size 0.2s, -moz-transform 0.2s;
  -o-transition: top 0.2s, height 0.2s, font-size 0.2s, -o-transform 0.2s;
  transition: top 0.2s, height 0.2s, font-size 0.2s, transform 0.2s;
}
/* Box containing play and load progresses. Also acts as seek scrubber. */
.vjs-flat-skin .vjs-progress-holder {
  /* Placement within the progress control item */
  height: 100%;
}
/* Progress Bars */
.vjs-flat-skin .vjs-progress-holder .vjs-play-progress,
.vjs-flat-skin .vjs-progress-holder .vjs-load-progress {
  position: absolute;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Needed for IE6 */
  left: 0;
  top: 0;
}
.vjs-flat-skin .vjs-play-progress {
  /*
    Using a data URI to create the white diagonal lines with a transparent
      background. Surprising works in IE8.
      Created using http://www.patternify.com
    Changing the first color value will change the bar color.
    Also using a paralax effect to make the lines move backwards.
      The -50% left position makes that happen.
  */
  background-color: #fb4a5e /*background: #66A8CC
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC)
    -50% 0 repeat;*/;
}
.vjs-flat-skin .vjs-load-progress {
  background-color: #bcc1c7;
}
.vjs-flat-skin .vjs-seek-handle {
  width: 1.5em;
  height: 100%;
}
.vjs-flat-skin .vjs-seek-handle:before {
  padding-top: 0.1em;
  /* Minor adjustment */
}
/* Time Display
-------------------------------------------------------------------------------- */
.vjs-flat-skin .vjs-time-controls {
  font-size: 1em;
  /* Align vertically by making the line height the same as the control bar */
  line-height: 3em;
  font-weight: bold;
  font-family: "Lato";
}
.vjs-flat-skin .vjs-current-time {
  float: left;
}
.vjs-flat-skin .vjs-duration {
  float: left;
}
/* Remaining time is in the HTML, but not included in default design */
.vjs-flat-skin .vjs-remaining-time {
  display: none;
  float: left;
}
.vjs-time-divider {
  float: left;
  line-height: 3em;
}
/* Fullscreen
-------------------------------------------------------------------------------- */
.vjs-flat-skin .vjs-fullscreen-control {
  width: 3.8em;
  cursor: pointer;
  float: right;
}
.vjs-flat-skin .vjs-fullscreen-control:before {
  content: "\f065";
  /* Enter full screen */
}
.vjs-flat-skin.vjs-fullscreen .vjs-fullscreen-control:before {
  content: "\f066";
  /* Exit full screen */
}
/* Big Play Button (at start)
---------------------------------------------------------*/
.vjs-flat-skin .vjs-big-play-button {
  display: none;
  z-index: 2;
  position: absolute;
  top: 2em;
  left: 2em;
  width: 12.0em;
  height: 6.0em;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  opacity: 1;
  color: #bcc1c7;
  /* Need a slightly gray bg so it can be seen on black backgrounds */
  background-color: transparent;
  border: 0.3em solid #bcc1c7;
  border-radius: 25px;
  -webkit-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
  /* @geedmo
  -webkit-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
     -moz-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);

  -webkit-transition: border 0.4s, -webkit-box-shadow 0.4s, -webkit-transform 0.4s;
     -moz-transition: border 0.4s,    -moz-box-shadow 0.4s,    -moz-transform 0.4s;
       -o-transition: border 0.4s,      -o-box-shadow 0.4s,      -o-transform 0.4s;
          transition: border 0.4s,         box-shadow 0.4s,         transform 0.4s;
          */
}
.vjs-flat-skin:hover .vjs-big-play-button,
.vjs-flat-skin .vjs-big-play-button:focus {
  outline: 0;
  color: #fb4a5e;
  border: 0.3em solid #fb4a5e;
  -webkit-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
  /* IE8 needs a non-glow hover state */
  /*
  -webkit-box-shadow: 0 0 3em #fff;
     -moz-box-shadow: 0 0 3em #fff;
          box-shadow: 0 0 3em #fff;

  -webkit-transition: border 0s, -webkit-box-shadow 0s, -webkit-transform 0s;
     -moz-transition: border 0s,    -moz-box-shadow 0s,    -moz-transform 0s;
       -o-transition: border 0s,      -o-box-shadow 0s,      -o-transform 0s;
          transition: border 0s,         box-shadow 0s,         transform 0s;*/
}
.vjs-flat-skin .vjs-big-play-button:before {
  content: "\f04b";
  /* Play icon */
  font-family: FontAwesome;
  font-size: 3em;
  line-height: 2em;
  text-align: center;
  /* Needed for IE8 */
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Loading Spinner
---------------------------------------------------------*/
.vjs-loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  line-height: 1;
  width: 1em;
  height: 1em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  opacity: 0.75;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}
.vjs-flat-skin .vjs-loading-spinner:before {
  content: "\f110";
  /* Loading spinner icon */
  font-family: FontAwesome;
  position: absolute;
  width: 1em;
  height: 1em;
  text-align: center;
  text-shadow: 0em 0em 0.1em #000;
}
/* Add a gradient to the spinner by overlaying another copy.
   Text gradient plus a text shadow doesn't work
   and `background-clip: text` only works in Webkit. */
.vjs-flat-skin .vjs-loading-spinner:after {
  content: "\f110";
  /* Loading spinner icon */
  font-family: FontAwesome;
  position: absolute;
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* Menu Buttons (Captions/Subtitles/etc.)
-------------------------------------------------------------------------------- */
.vjs-flat-skin .vjs-menu-button {
  float: right;
  cursor: pointer;
}
.vjs-flat-skin .vjs-menu {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0em;
  /* (Width of vjs-menu - width of button) / 2 */
  width: 0em;
  height: 0em;
  margin-bottom: 3em;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 1.55em solid #000000;
  /* Same top as ul bottom */
  border-top-color: rgba(7, 40, 50, 0.5);
  /* Same as ul background */
}
/* Button Pop-up Menu */
.vjs-flat-skin .vjs-menu-button .vjs-menu .vjs-menu-content {
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 10em;
  bottom: 1.5em;
  /* Same bottom as vjs-menu border-top */
  max-height: 15em;
  overflow: auto;
  left: -5em;
  /* Width of menu - width of button / 2 */
  background-color: #000000;
  background-color: rgba(7, 40, 50, 0.7);
  -webkit-box-shadow: -20px -20px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
  box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
}
/*.vjs-flat-skin .vjs-menu-button:focus ul,*/
/* This is not needed because keyboard accessibility for the caption button is not handled with the focus any more. */
.vjs-flat-skin .vjs-menu-button:hover .vjs-menu {
  display: block;
}
.vjs-flat-skin .vjs-menu-button ul li {
  list-style: none;
  margin: 0;
  padding: 0.3em 0 0.3em 0;
  line-height: 1.4em;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  text-transform: lowercase;
}
.vjs-flat-skin .vjs-menu-button ul li.vjs-selected {
  background-color: #000;
}
.vjs-flat-skin .vjs-menu-button ul li:focus,
.vjs-flat-skin .vjs-menu-button ul li:hover,
.vjs-flat-skin .vjs-menu-button ul li.vjs-selected:focus,
.vjs-flat-skin .vjs-menu-button ul li.vjs-selected:hover {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
  color: #111;
  outline: 0;
  -webkit-box-shadow: 0 0 1em #ffffff;
  -moz-box-shadow: 0 0 1em #ffffff;
  box-shadow: 0 0 1em #ffffff;
}
.vjs-flat-skin .vjs-menu-button ul li.vjs-menu-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2em;
  padding: 0;
  margin: 0 0 0.3em 0;
  font-weight: bold;
  cursor: default;
}
/* Subtitles Button */
.vjs-flat-skin .vjs-subtitles-button:before {
  content: "\e00c";
}
/* There's unfortunately no CC button in FontAwesome, so we need
    to manually create one. Please +1 the fontawesome request.
    https://github.com/FortAwesome/Font-Awesome/issues/968 */
.vjs-flat-skin .vjs-captions-button {
  font-size: 1em;
  /* Font icons are 1.5em */
  display: none;
}
.vjs-flat-skin .vjs-captions-button:before {
  content: "\e008";
  font-family: FontAwesome;
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: none;
}
/* Replacement for focus outline */
.vjs-flat-skin .vjs-captions-button:focus .vjs-control-content:before,
.vjs-flat-skin .vjs-captions-button:hover .vjs-control-content:before {
  -webkit-box-shadow: 0 0 1em #ffffff;
  -moz-box-shadow: 0 0 1em #ffffff;
  box-shadow: 0 0 1em #ffffff;
}
/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #f7f8f9;
  background-color: #fb4a5e;
  margin-bottom: 30px;
  margin-right: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
x:-o-prefocus,
.progress-radial {
  background-clip: content-box;
}
/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #f7f8f9;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  font-weight: 100;
}
.progress-0 {
  background-image: linear-gradient(90deg, #f7f8f9 50%, transparent 50%, transparent), linear-gradient(90deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-5 {
  background-image: linear-gradient(90deg, #f7f8f9 50%, transparent 50%, transparent), linear-gradient(108deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-10 {
  background-image: linear-gradient(90deg, #f7f8f9 50%, transparent 50%, transparent), linear-gradient(126deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-15 {
  background-image: linear-gradient(90deg, #f7f8f9 50%, transparent 50%, transparent), linear-gradient(144deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-20 {
  background-image: linear-gradient(90deg, #f7f8f9 50%, transparent 50%, transparent), linear-gradient(162deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-25 {
  background-image: linear-gradient(90deg, #f7f8f9 50%, transparent 50%, transparent), linear-gradient(180deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-30 {
  background-image: linear-gradient(90deg, #f7f8f9 50%, transparent 50%, transparent), linear-gradient(198deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-35 {
  background-image: linear-gradient(90deg, #f7f8f9 50%, transparent 50%, transparent), linear-gradient(216deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-40 {
  background-image: linear-gradient(90deg, #f7f8f9 50%, transparent 50%, transparent), linear-gradient(234deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-45 {
  background-image: linear-gradient(90deg, #f7f8f9 50%, transparent 50%, transparent), linear-gradient(252deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-50 {
  background-image: linear-gradient(270deg, #fb4a5e 50%, transparent 50%, transparent), linear-gradient(270deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-55 {
  background-image: linear-gradient(288deg, #fb4a5e 50%, transparent 50%, transparent), linear-gradient(270deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-60 {
  background-image: linear-gradient(306deg, #fb4a5e 50%, transparent 50%, transparent), linear-gradient(270deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-65 {
  background-image: linear-gradient(324deg, #fb4a5e 50%, transparent 50%, transparent), linear-gradient(270deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-70 {
  background-image: linear-gradient(342deg, #fb4a5e 50%, transparent 50%, transparent), linear-gradient(270deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-75 {
  background-image: linear-gradient(360deg, #fb4a5e 50%, transparent 50%, transparent), linear-gradient(270deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-80 {
  background-image: linear-gradient(378deg, #fb4a5e 50%, transparent 50%, transparent), linear-gradient(270deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-85 {
  background-image: linear-gradient(396deg, #fb4a5e 50%, transparent 50%, transparent), linear-gradient(270deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-90 {
  background-image: linear-gradient(414deg, #fb4a5e 50%, transparent 50%, transparent), linear-gradient(270deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.progress-95 {
  background-image: linear-gradient(432deg, #fb4a5e 50%, transparent 50%, transparent), linear-gradient(270deg, #fb4a5e 50%, #f7f8f9 50%, #f7f8f9);
}
.valign {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.valign > div {
  display: table-cell;
  vertical-align: middle;
  padding-right: 25px;
  *display: inline;
  *zoom: 1;
  *padding-right: 0;
}
.valign > div:last-child {
  padding-right: 0;
}
.valign .cell-1-2 {
  width: 50%;
  *width: 49%;
}
.valign .cell-1-3 {
  width: 33%;
  *width: 32%;
}
.valign .cell-2-3 {
  width: 66%;
  *width: 65%;
}
.valign .cell-1-4 {
  width: 25%;
  *width: 24%;
}
.valign .cell-2-4 {
  width: 50%;
  *width: 49%;
}
.valign .cell-3-4 {
  width: 75%;
  *width: 74%;
}
.valign .cell-1-5 {
  width: 20%;
  *width: 19%;
}
.valign .cell-2-5 {
  width: 40%;
  *width: 39%;
}
.valign .cell-4-5 {
  width: 60%;
  *width: 59%;
}
.valign .cell-5-5 {
  width: 80%;
  *width: 79%;
}
.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.fileupload .thumbnail > img {
  display: inline-block;
  vertical-align: top;
  max-height: 100%;
}
.fileupload.pull-left .thumbnail {
  margin-right: 10px;
}
.fileupload.pull-right .thumbnail {
  margin-left: 10px;
}
.fileupload .btn {
  vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}
.fileupload-inline .fileupload-controls {
  display: inline;
}
.fileupload-new .input-append .btn-file {
  border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
  color: #468847;
}
.control-group.success .fileupload .thumbnail {
  border-color: #468847;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 16px;
}
.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star:hover {
  cursor: pointer;
}
.rating span.star:before {
  content: "\f006";
  color: #999999;
}
.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before,
.rating span.star.starred:before {
  content: "\f005";
  color: #e3cf7a;
}
/* Panel amethyst */
.panel-amethyst {
  border-color: transparent;
}
.panel-amethyst > .panel-heading {
  color: #fff;
  background-color: #fb4a5e;
  border-color: transparent;
}
.panel-amethyst > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-amethyst > .panel-heading .badge {
  color: #fb4a5e;
  background-color: #fff;
}
.panel-amethyst > .panel-footer {
  background-color: #fb4a5e;
}
.panel-amethyst > .panel-footer,
.panel-amethyst > .panel-footer a {
  color: #fff;
}
.panel-amethyst > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
/* Panel carrot */
.panel-carrot {
  border-color: transparent;
}
.panel-carrot > .panel-heading {
  color: #fff;
  background-color: #E67E22;
  border-color: transparent;
}
.panel-carrot > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-carrot > .panel-heading .badge {
  color: #E67E22;
  background-color: #fff;
}
.panel-carrot > .panel-footer {
  background-color: #E67E22;
}
.panel-carrot > .panel-footer,
.panel-carrot > .panel-footer a {
  color: #fff;
}
.panel-carrot > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
/* Panel greensea */
.panel-greensea {
  border-color: transparent;
}
.panel-greensea > .panel-heading {
  color: #fff;
  background-color: #16A085;
  border-color: transparent;
}
.panel-greensea > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-greensea > .panel-heading .badge {
  color: #16A085;
  background-color: #fff;
}
.panel-greensea > .panel-footer {
  background-color: #16A085;
}
.panel-greensea > .panel-footer,
.panel-greensea > .panel-footer a {
  color: #fff;
}
.panel-greensea > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
/* Panel belizehole */
.panel-belizehole {
  border-color: transparent;
}
.panel-belizehole > .panel-heading {
  color: #fff;
  background-color: #2980B9;
  border-color: transparent;
}
.panel-belizehole > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-belizehole > .panel-heading .badge {
  color: #2980B9;
  background-color: #fff;
}
.panel-belizehole > .panel-footer {
  background-color: #2980B9;
}
.panel-belizehole > .panel-footer,
.panel-belizehole > .panel-footer a {
  color: #fff;
}
.panel-belizehole > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}

.eventlist-event-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.eventlist-event-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventlist-event-detail {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  height: 3.6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.eventlist-event-detail:before {
  content: '...';
  position: absolute;
  right: 15px;
  bottom: 0;
}

.eventlist-event-detail:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.panel-premium {
  background-color: #ecb2b2;
}

.premiumspotcalendar-button {
  display: inline-block;
  width: 100%;
}

#premiumspotcalendar-table {
  width: 100%;
}

#premiumspotcalendar-table-control td {
  text-align: center;
  font-weight: bold;
  height: 60px;
}

#premiumspotcalendar-table-control-backward i {
  padding-left: 10px;
  width: 50px;
}

#premiumspotcalendar-table-control-forward i {
  padding-right: 5px;
  width: 50px;
}

#premiumspotcalendar-table-header th {
  text-align: center;
}

#premiumspotcalendar-table-grid td {
  text-align: center;
  width: 14%;
  padding: 5px;
}

#premiumspotcalendar-table-grid td div {
  border-radius: 5px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* .premiumspotcalendar-table-grid-daybeforemonth {
} */

.premiumspotcalendar-table-grid-dayofmonth {
  background-color: green;
  color: white;
  cursor: pointer;
}

.premiumspotcalendar-table-grid-dayofmonth-reserved {
  background-color: darkblue;
  cursor: not-allowed;
}

.premiumspotcalendar-table-grid-dayofmonth-booked {
  background-color: rgb(233, 233, 23);
  color: black;
}

/* .premiumspotcalendar-table-grid-dayaftermonth {
} */

#loadingModal {
  z-index: 9999;
}

#eventnew-premiumspotposition-text {
  display: none;
  width: 200px;
  font-weight: bold;
}

#eventnew-premiumspotstartdate-text {
  display: none;
  width: 200px;
  font-weight: bold;
}

#eventnew-premiumspotenddate-text {
  display: none;
  font-weight: bold;
}