.section-hp {
  .section-header {
    .section-header-inner {
      .universal-button {
        margin: 30px 0 0 0;
      }
    }
  }
  .subhead-part-1 {
    display: table;
    padding: 10px;
    .subhead-part-1__title {
      padding: 30px;
      font-weight: 700;
      font-size: 2em;
    }
    .subhead-part-1__left {
      float: left;
      width: 50%;
      .subhead-part-1__p {
        padding: 10px;
        text-align: left;
      }
      .subhead-part-1__left-title {
        font-weight: 700;
        font-size: 2.5em;
        text-align: left;
        margin: 20px;
      }
    }
    .subhead-part-1__right {
      float: left;
      width: 50%;
      .subhead-part-1__p {
        padding: 10px;
        text-align: left;
      }
      .subhead-part-1__right-title {
        font-weight: 700;
        font-size: 2.5em;
        text-align: left;
        margin: 20px;
      }
    }
    .subhead-part-1-list {
      margin: 0 auto;
      .subhead-part-1__item {
        overflow: hidden;
        width: 250px;
        vertical-align: middle;
        white-space: nowrap;
        display: inline-block;
        margin: 15px;
        .universal-button {
          width: 250px;
        }
        .input-login {
          width: 100%;
          height: 50px;
          border: 1px solid #000000;
          background: #fff;
          color: #ccc;
          font-weight: 700;
          font-size: 1.2em;
          padding-left: 15px;
          border-radius: 30px;
        }
      }
    }
  }
  .subhead-part-2 {
    display: table;
    padding: 10px;
    .subhead-part-2__title {
      padding: 30px;
      font-weight: 700;
      font-size: 2em;
    }
    .subhead-part-2-tab {
      position: relative;
      float: left;
      width: 33.3%;
      padding: 20px;
      .locked-tab {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.65);
        i {
          transform: translateY(200%);
          font-size: 6em;
        }
        &.locked-tab--enabled {
          display: block;
        }
        &.locked-tab--disabled {
          display: none;
        }
      }
      .subhead-part-2-tab__image {
        width: 100%;
      }
      .subhead-part-2-tab__title {
        font-weight: 700;
        margin: 15px 0;
        font-size: 1.5em;
        color: $red-color;
      }
      .subhead-part-2-tab__location {
        margin: 5px 0;
        font-weight: 700;
      }
      .subhead-part-2-tab__time {
        margin: 5px 0;
        font-weight: 700;
      }
      .subhead-part-2-tab__p {
        margin: 15px 0 30px 0;
      }
    }
  }
  .subhead-part-3 {
    padding: 10px;
    .subhead-part-3__title {
      padding: 30px;
      font-weight: 700;
      font-size: 2em;
    }
    .subhead-part-3__image {
      margin: 30px;
    }
    .subhead-part-3__p {
      font-weight: 700;
      max-width: 600px;
      margin: 20px auto 80px auto;
    }
  }
}