.section-event {
  .menu-categories {
    background-color: $red-color;
    .menu-categories-inner {
      .menu-categories-list {
        .menu-categories-list__item {
          display: inline-block;
          padding: 15px;
          margin: 10px;
          font-size: 1.2em;
          font-weight: 700;
          color: #000;
          border-radius: 100px;
          cursor: pointer;
          background-color: transparent;
          &:hover {
            background-color: #fff;
          }
          &:first-child {
            background-color: #fff;
          }
        }
      }
    }
  }
  .section-container {
    .section-content {
      margin: 50px 0;
      .event-tab {
        display: table;
        margin: 10px 0;
        padding: 10px;
        width: 100%;
        border: 4px solid #ccc;

        .event-tab__image {
          float: left;
          display: table-cell;
          vertical-align: middle;
          width: 30%;
          margin: 0;
        }
        .event-tab-center {
          float: left;
          width: 50%;
          padding: 0 20px;
          .event-tab-center__title {
            font-size: 1.5em;
            font-weight: 700;
            text-align: left;
            color: $red-color;
          }
          .event-tab-center__location {
            font-size: 1.2em;
            font-weight: 700;
            margin: 10px 0;
            text-align: left;
          }
          .event-tab-center__time {
            margin: 0 0 0 25px;
          }
          .event-tab-center__p {
            text-align: left;
          }
          .show-more-btn {
            margin: 20px 0 0 0;
            display: inline-block;
            cursor: pointer;
            color: $red-color;
            p {
              color: $red-color;
            }
          }
        }
        .event-tab-right {
          float: left;
          width: 20%;
          margin: 30px 0 0 0;
          text-align: left;
          .universal-button {
            width: 150px;
            font-size: 2em;
          }
          .fb-like {
            margin: 10px 0 0 35px;
          }
        }
      }
      .event-tab.premium-event {
        .premium-img {
          position: absolute;
          top: 0;
          right: 10px;
          width: 83px;
          height: 80px;
          background-repeat: no-repeat;
          background-position: top right;
          background-image: url("../img/premium.png");
        }
        border: 4px solid $red-color;
      }
    }
  }
}