.section-event-detail {
  position: relative;
  .section-container {
    display: table;
    padding: 15px;
    .section-content {
      float: left;
      width: 70%;
      padding: 0 15px 0 0;
      .content-event-img {
        width: 100%;
      }
      .fb-like {
        margin: 5px 0 0 0;
        float: right;
      }
      .subhead-description {
        text-align: left;
        padding: 15px;
        .subhead-header {
          margin:  30px 0;
          font-size: 1.5em;
          font-weight: 700;
        }
        .subhead-p {
          margin: 15px 0;
        }
      }
      .subhead-details {
        text-align: left;
        padding: 15px;
        .subhead-header {
          margin:  30px 0;
          font-size: 1.5em;
          font-weight: 700;
        }
        .subhead-p {
          margin: 15px 0;
          .subhead-p__date, .subhead-p__price {
            margin: 0 0 0 40px;
          }
          .subhead-p__time {
          }
        }
      }
      .subhead-place {
        text-align: left;
        padding: 15px;
        .subhead-header {
          margin:  30px 0;
          font-size: 1.5em;
          font-weight: 700;
        }
        .subhead-p {
          margin: 15px 0;
          .subhead-p__address {
            margin: 0 0 0 40px;
          }
        }
        .subhead-map {
          width: 100%;
          max-width: 700px;
        }
      }
    }
    .section-sidebar {
      float: left;
      width: 30%;
      .event-header {
        font-size: 2em;
        margin: 10px;
        color: $blue-color;
        font-weight: 700;
      }
      .event-location {
        margin: 30px 0 0 0;
        color: $blue-color;
        font-weight: 700;
        i {
          margin: 0 5px 0 0;
        }
      }
      .event-time {
        margin: 10px 0 0 0;
        color: $blue-color;
        font-weight: 700;
        i {
          margin: 0 5px;
        }
      }
      .event-price {
        margin: 10px 0 30px 0;
        color: $red-color;
        font-size: 1.5em;
        font-weight: 700;
        i {
          margin: 0 5px 0 0;
        }
      }
      .universal-button {
        margin: 5px 0;
        i {
          margin: 0 0 0 10px;
        }
      }
      .side-bar-social-list {
        margin: 15px 0 0 0;
        .side-bar-social-list__item {
          margin: 0 3px;
          display: inline-block;
          color: $red-color;
          font-size: 1.5em;
        }
      }
    }
  }
}